.DS_Store
example/ios/exampleWizAnalytics.xcodeproj/xcuserdata/*
example/ios/exampleWizAnalytics.xcodeproj/project.xcworkspace/*
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
example/ios/www/phonegap/*
example/ios/www/index.html
